<div *ngIf="procesarBAN; else elseBlock">
  <div>
    <textarea id="" cols="30" rows="10" [(ngModel)]="enunciadoText"></textarea>
    <button (click)="procesarT()">Procesar texto</button>
  </div>

</div>
<ng-template #elseBlock>
  <div *ngIf="crearVariables;else templateName">
    <div>
      <button *ngFor="let item of cadenaDePalabras" (click)="agregarPalabra(item)">{{item}}</button>
  
      <input type="text" [(ngModel)]="palabraFormada">
      <button (click)="agregarVariable()">Guardar</button>
  
      <ul>
        <li *ngFor="let item of listaVariables">{{item}}</li>
      </ul>

      <button (click)="crearMatrizA()">Crear matriz de adyasensia</button>
    </div>

    
  </div>
  <ng-template #templateName>
    <div *ngFor="let item of listaVariables">
      <div *ngFor="let i of matrizA['item']">
        {{i}}
      </div>
    </div>
    
  </ng-template>
</ng-template>

<router-outlet></router-outlet>